{% extends "layout.html" %}

{% block title %}Home | Python MVC Framework{% endblock %}

{% block content %}
<img class="h-24 w-24" src="{{ url_for('static', filename='img/logo.png') }}">
<h1 class="mt-4 text-xl font-semibold">Welcome to the Home Page!</h1>
<p>This is the content of the home page.</p>
<pre class="bg-gray-100 dark:bg-gray-800 w-full max-w-sm mt-9 p-4 rounded overflow-x-auto"><code>py-framework/
│
├── app/
│   ├── controllers/
│   │   ├── home_controller.py
│   │   └── about_controller.py
│   ├── public/
│   │   ├── css/
│   │   └── js/
│   ├── templates/
│   │   ├── layout.html
│   │   ├── about.html
│   │   └── home.html
│   ├── components/
│   │   ├── navbar.py
│   │   └── footer.py
│   ├── routes.py
│   └── app.py
├── requirements.txt
└── run.py


# Instalation

python -m venv venv
source venv/bin/activate  # for macOS/Linux
venv\Scripts\activate  # for Windows
pip install -r requirements.txt
python run.py</pre></code>
{% endblock %}
